# Claude Code
.agents/
.claude/
CLAUDE.md
skills-lock.json

# Unused / uncompressed images
hero.JPG
IMG_1863.jpeg
.vercel

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
